<mat-toolbar color="primary">
  <span><a routerLink="/">All Posts</a></span>
  <span class="spacer"></span>
  <ul>
        <li class="login" *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent"
        >Login<mat-icon>login</mat-icon></a
      >
    </li>
    <li>
      <a *ngIf="!isUserAuthenticated" color="accent" class="signup" mat-raised-button routerLink="/signin"
        >New User <mat-icon>add</mat-icon></a
      >
    </li>
        <li>
      <a *ngIf="isUserAuthenticated" color="accent" mat-raised-button (click)="onLogout()"  routerLinkActive="mat-accent"
        ><mat-icon>logout</mat-icon>Log out</a
      >
    </li>


  </ul></mat-toolbar
>
