<mat-toolbar color="primary">
  <span><a routerLink="/">All Posts</a></span>
  <span class="spacer"></span>
  <ul>
        <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent"
        >Login</a
      >
    </li>
    <li>
      <a *ngIf="!isUserAuthenticated" mat-button routerLink="/signin" routerLinkActive="mat-accent"
        >Sign-up</a
      >
    </li>
        <li>
      <a *ngIf="isUserAuthenticated" color="accent" mat-raised-button (click)="onLogout()"  routerLinkActive="mat-accent"
        >Log out</a
      >
    </li>


  </ul></mat-toolbar
>
