<mat-toolbar color="primary">
  <span><a routerLink="/"> <mat-icon>whatshot</mat-icon> Feed</a></span>
  <span class="spacer"></span>
  <ul>
        <li class="login" *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent"
        ><mat-icon>login</mat-icon>Login</a
      >
    </li>
    <li>
      <a *ngIf="!isUserAuthenticated" color="accent" class="signup" mat-raised-button routerLink="/signin"
        > <mat-icon>person_add</mat-icon>New User</a
      >
    </li>
        <li>
      <a *ngIf="isUserAuthenticated" color="accent" mat-raised-button (click)="onLogout()"  routerLinkActive="mat-accent"
        ><mat-icon>logout</mat-icon>Log out</a
      >
    </li>


  </ul></mat-toolbar
>
