ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.spacer{
  flex: 1 1 auto;
}
a {
  text-decoration: none;
  color: white;
}
ul> li{
  display: inline-block;
}
.login
{
  background-color: rgba(0, 0, 0, 0.157);
  margin-right: 0.6rem;
  border-radius: 5px;
}
