<mat-card>
  <form (submit)="onAddPost(postForm)" action="" #postForm="ngForm">
    <mat-form-field>
      <input
        required
        minlength="3"
        placeholder="TITLE"
        matInput
        type="text"
        name="title"
        ngModel
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid"
        >Please enter a post title</mat-error
      > </mat-form-field
    ><mat-form-field>
      <textarea
        placeholder="CONTENT"
        matInput
        name="content"
        id=""
        ngModel
        cols="30"
        rows="10"
        #content="ngModel"
        required
      ></textarea>
          <mat-error *ngIf="content.invalid">Please enter something</mat-error>

    </mat-form-field>
    <button type="submit" color="accent" mat-raised-button>Save Post</button>
  </form>
</mat-card>

<!-- <p>{{ newPost }}</p> -->
