<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupData)" #signupData="ngForm" action="">
    <div>
      <mat-form-field>
        <input
          ngModel
          name="username"
          #usernameInput="ngModel"
          required
          placeholder="Full Name"
          matInput
          type="text"
        />
        <mat-error *ngIf="usernameInput.invalid">
          Please enter a valid Name
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          email=""
          ngModel
          name="email"
          #emailInput="ngModel"
          required
          placeholder="E-mail"
          matInput
          type="email"
        />
        <mat-error *ngIf="emailInput.invalid">
          Please enter a valid email
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input
          name="password"
          password
          ngModel
          #passwordInput="ngModel"
          required
          placeholder="Password"
          matInput
          type="password"
        />
        <mat-error *ngIf="passwordInput.invalid">
          Please enter a valid Password
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <button *ngIf="!isLoading" type="submit" color="accent" mat-raised-button>
        Sign Up
      </button>
    </div>
  </form>
</mat-card>
